/* Colors */
/*
 ** Media Query Mixin For Help 
 */
/*
** Perfixes Mixin
** Auto Add Perfixes To Properties
*/
/*
 ** links Style Mixin For Help 
 */
/*
 **  side menu Style Mixin For Help 
 */
/*
** links for side menu Style Mixin For Help 
*/
/*
** links for dropdwon Style Mixin For Help 
*/
/*
**  Main header links Style Mixin For Help 
*/
.overflow-x-hidden {
  overflow-x: hidden;
}

.top-header {
  padding: 15px 0;
}
@media (max-width: 767px) {
  .top-header {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .top-header .logo {
    height: 27px;
    width: 75px;
  }
}
@media (max-width: 991px) {
  .top-header .info :is(p:first-child, p:nth-child(2)) {
    display: none;
  }
}
@media (max-width: 767px) {
  .top-header .info img {
    height: 18px;
    width: 18px;
  }
}
.top-header .info div .btn {
  padding: 16px 29px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F1A153;
  color: #Fff;
}
@media (max-width: 991px) {
  .top-header .info div .btn {
    margin-left: 28px;
    font-weight: 500;
    text-transform: capitalize;
  }
}
@media (max-width: 767px) {
  .top-header .info div .btn {
    font-size: 12px;
    margin-left: 13px;
    border-radius: 2px;
    padding: 7px 10px;
  }
}
.top-header .info div .btn span {
  color: #Fff;
}
@media (max-width: 991px) {
  .top-header .info div .btn span {
    text-transform: capitalize;
    font-weight: 500;
  }
}
.top-header .info div span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #42415B;
}
@media (max-width: 767px) {
  .top-header .info div span {
    display: none;
  }
}
.top-header .info p {
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #42415B;
}
.top-header .side-menu {
  position: relative;
  margin-right: 24px;
  display: none;
}
@media (max-width: 767px) {
  .top-header .side-menu {
    margin-right: 16px;
  }
}
@media (max-width: 991px) {
  .top-header .side-menu {
    display: inline;
  }
}
.top-header .side-menu .icon {
  cursor: pointer;
}
@media (max-width: 767px) {
  .top-header .side-menu .icon img {
    height: 18px;
    width: 26px;
  }
}
.top-header .side-menu .side-menu-item {
  position: fixed;
  top: 78px;
  left: 0;
  background-color: #Fff;
  color: #42415B;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: 999;
  padding: 15px;
  -webkit-transform: translate(0) translateZ(200px);
  -moz-transform: translate(0) translateZ(200px);
  -o-transform: translate(0) translateZ(200px);
  -ms-transform: translate(0) translateZ(200px);
  transform: translate(0) translateZ(200px);
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}
@media (max-width: 767px) {
  .top-header .side-menu .side-menu-item {
    top: 47.5px;
  }
}
.top-header .side-menu .side-menu-item .drop-dwon .drop-dwon-title {
  display: inline-block;
  color: #42415B;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}
.top-header .side-menu .side-menu-item .drop-dwon .drop-dwon-content {
  display: none;
}
.top-header .side-menu .side-menu-item .drop-dwon .drop-dwon-content li {
  border: none;
  padding: 10px 0;
}
.top-header .side-menu .side-menu-item .drop-dwon .drop-dwon-content li:first-child {
  padding-top: 18px;
}
.top-header .side-menu .side-menu-item .drop-dwon .drop-dwon-content li a {
  color: #7C809B;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  text-transform: capitalize;
}
.top-header .side-menu .side-menu-item ul li {
  border-bottom: 1px solid #BBBED0;
  padding: 21px 0;
}
.top-header .side-menu .side-menu-item ul li a {
  text-decoration: none;
  color: #42415B;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}
.top-header .side-menu .side-menu-item .side-menu-info {
  text-align: center;
  padding-top: 20px;
}
.top-header .side-menu .side-menu-item .side-menu-info p,
.top-header .side-menu .side-menu-item .side-menu-info div {
  margin: 0;
  padding: 13px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.top-header .side-menu .side-menu-item .side-menu-info .btn {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F1A153;
  color: #Fff;
  padding: 16px 29px;
}
.top-header .side-menu .hiden-menu {
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  -o-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
}

.main-header {
  background-color: #9CA2C6;
}
.main-header ul {
  text-align: center;
  margin: 0;
}
.main-header ul li {
  display: inline-block;
  padding: 16px 3rem;
  font-size: 18px;
}
.main-header ul li a {
  text-decoration: none;
  color: #Fff;
  text-transform: capitalize;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .main-header {
    display: none;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.wellcome {
  background: url(../../images/slider-img.jpg) no-repeat center center;
  background-size: cover;
}
.wellcome .content {
  padding: 120px 0;
}
@media (max-width: 991px) {
  .wellcome .content {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .wellcome .content {
    padding: 30px 0 70px 0;
  }
}
.wellcome .content .title {
  color: #Fff;
  font-size: 66px;
  font-weight: bold;
  font-family: Roboto;
  line-height: 80px;
  letter-spacing: 0;
}
@media (max-width: 991px) {
  .wellcome .content .title {
    font-size: 38px;
    line-height: 48px;
  }
}
.wellcome .content .sub-title {
  color: #Fff;
  font-size: 18px;
  font-weight: normal;
  font-family: Roboto;
  line-height: 30px;
  letter-spacing: 0;
  width: 43%;
  padding-top: 16px;
}
@media (max-width: 991px) {
  .wellcome .content .sub-title {
    width: 91%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .wellcome .content .sub-title {
    width: 100%;
    margin: auto;
    font-size: 16px;
  }
}
.wellcome .content .action {
  padding-top: 64px;
}
.wellcome .content .action a {
  color: #Fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0;
  text-decoration: none;
  padding: 18px 40px;
  border-radius: 4px;
  background-color: #F1A153;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .wellcome .content .action a {
    padding: 18px 76px;
  }
}

.products {
  background-color: #F2F3FC;
  padding: 74px 0 77px;
}
@media (max-width: 991px) {
  .products {
    padding: 40px 0 69px;
  }
}
@media (max-width: 767px) {
  .products {
    padding: 29px 0 43px;
  }
}
.products .title {
  color: #42415B;
  font-size: 50px;
  font-weight: bold;
  font-family: Roboto;
  line-height: 60px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 46px;
}
@media (max-width: 991px) {
  .products .title {
    font-size: 30px;
    margin-bottom: 37px;
  }
}
@media (max-width: 767px) {
  .products .title {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
.products .card {
  box-sizing: border-box;
  border: 1px solid #BABDCF;
  border-radius: 2px;
  height: 183px;
  width: 165px;
  text-align: center;
  margin: auto;
}
@media (max-width: 991px) {
  .products .card {
    height: 140px;
    width: 210px;
  }
}
@media (max-width: 767px) {
  .products .card {
    flex-direction: inherit;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0 16px;
  }
}
.products .card:hover {
  background-color: #BABDCF;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.products .card:hover p {
  color: #Fff;
}
.products .card .img {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .products .card .img {
    padding-top: 36px;
  }
}
@media (max-width: 767px) {
  .products .card .img {
    margin: 0;
    padding-top: 0;
  }
}
.products .card p {
  color: #42415B;
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .products .card p {
    padding-left: 18px;
  }
}

.fqa {
  padding-left: 156px;
  padding-right: 156px;
}
@media (max-width: 991px) {
  .fqa {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (max-width: 767px) {
  .fqa {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fqa .content-one {
  margin-top: 79px;
  margin-bottom: 91px;
}
@media (max-width: 767px) {
  .fqa .content-one {
    margin-top: 50px;
    margin-bottom: 71px;
  }
}
.fqa .content-one .title {
  color: #42415B;
  font-size: 38px;
  font-weight: bold;
  font-family: Roboto;
  line-height: 48px;
  letter-spacing: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .fqa .content-one .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .fqa .content-one .title {
    font-size: 28px;
  }
}
.fqa .content-one .body {
  color: #170307;
  font-size: 20px;
  font-weight: normal;
  font-family: Roboto;
  line-height: 35px;
  letter-spacing: 0;
  padding-top: 20px;
}
@media (max-width: 991px) {
  .fqa .content-one .body {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .fqa .content-one .body {
    font-size: 19px;
  }
}
.fqa .content-sec {
  margin-bottom: 35px;
}
.fqa .content-sec .title {
  color: #42415B;
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto;
  line-height: 35px;
  letter-spacing: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .fqa .content-sec .title {
    font-size: 22px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .fqa .content-sec .title {
    line-height: 35px;
  }
}
.fqa .content-sec .body {
  color: #42415B;
  font-size: 18px;
  font-weight: normal;
  font-family: Roboto;
  line-height: 30px;
  letter-spacing: 0;
  padding-top: 20px;
  line-height: 30px;
}
@media (max-width: 991px) {
  .fqa .content-sec .body {
    font-size: 18px;
  }
}
.fqa .other-titles {
  margin-bottom: 260px;
}
@media (max-width: 991px) {
  .fqa .other-titles {
    margin-bottom: 150px;
  }
}
.fqa .other-titles .title {
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 991px) {
  .fqa .other-titles .title {
    align-items: unset;
  }
}
.fqa .other-titles .title img {
  height: 24px;
  width: 24px;
}
.fqa .other-titles .title span {
  color: #42415B;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  line-height: 31px;
  letter-spacing: 0;
  padding-left: 12px;
}
@media (max-width: 991px) {
  .fqa .other-titles .title span {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .fqa .other-titles .title span {
    font-size: 17px;
    margin-top: -5px;
  }
}

/*# sourceMappingURL=main.css.map */
