// Top Header (iclude Side menu in Responsive)
.top-header {
    padding: 15px 0;
    @include maxMobile {
        padding: 10px;
    }

    .logo {
        @include maxMobile {
            height: 27px;
            width: 75px;
        }
    }

    // .info :is(p:first-child, p:nth-child(2)) {
    //     @include maxTablet {
    //         display: none;
    //     }
    //     @include maxMobile {
    //         display: none;
    //     }
    // }

    .info {
        img {
            @include maxMobile {
                height: 18px;
                width: 18px;
            }
        }

        div {
            .btn {
                padding: 16px 29px;
                border-radius: 4px;

                @include maxTablet {
                    margin-left: 28px;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                @include links {
                    background-color: $primaryColor;
                    color: $whiteColor;
                }

                @include maxMobile {
                    font-size: 12px;
                    margin-left: 13px;
                    border-radius: 2px;
                    padding: 7px 10px;
                }

                span {
                    color: $whiteColor;

                    @include maxTablet {
                        text-transform: capitalize;
                        font-weight: 500;
                    }
                }
            }

            span {
                @include links {
                    color: $SecColor;
                }

                @include maxMobile {
                    display: none;
                }
            }
        }

        p {
            margin: 0;
            &:first-child, &:nth-child(2){
                @include maxTablet {
                    display: none;
                }
                @include maxMobile {
                    display: none;
                }
            }
            @include links {
                color: $SecColor;
            }
        }
    }
    // Side menu 
    .side-menu {
        position: relative;
        margin-right: 24px;
        display: none;
        @include maxMobile {
            margin-right: 16px;
        }
        @include maxTablet {
            display: inline;
        }
        .icon {
            cursor: pointer;
            img {
                @include maxMobile {
                    height: 18px;
                    width: 26px;
                }
            }
        }
        .side-menu-item {
            @include SideMenu;
            .drop-dwon {
                .drop-dwon-title {
                    display: inline-block;
                    @include linkSideMenu;
                    cursor: pointer;
                }
                .drop-dwon-content {
                    display: none;
                    li {
                        border: none;
                        padding: 10px 0;

                        &:first-child {
                            padding-top: 18px;
                        }

                        a {
                            @include linkDropdwon;
                        }
                    }
                }
            }

            ul {
                li {
                    border-bottom: 1px solid $graySecColor;
                    padding: 21px 0;

                    a {
                        text-decoration: none;
                        @include linkSideMenu;
                    }
                }
            }

            .side-menu-info {
                text-align: center;
                padding-top: 20px;

                p,
                div {
                    margin: 0;
                    padding: 13px;
                    @include links;
                }

                .btn {
                    @include links {
                        background-color: $primaryColor;
                        color: $whiteColor;
                        padding: 16px 29px;
                    }
                }
            }
        }
        .hiden-menu {
            @include prefixer(transform, translate(-100%), webkit moz o ms)
        }
    }
}

// Main Header
.main-header {
    background-color: $grayTherdColor;
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            padding: 16px 3rem;
            font-size: 18px;
            a {
                @include MainHeaderlink;
            }
        }
    }

    @include maxTablet {
        display: none;
    }
}