/* Colors */
$primaryColor: #F1A153;
$SecColor: #42415B;

$grayColor:#7C809B;
$graySecColor:#BBBED0;
$grayTherdColor:#9CA2C6;
$grayFourColor:#F2F3FC;
$grayFiveColor:#BABDCF;

$whiteColor: #Fff;
$blackColor: #170307