// Wellcome
.wellcome{
    background: url(../../images/slider-img.jpg) no-repeat center center ;
    background-size: cover;
    // Content
    .content{
        padding: 120px 0;
        @include maxTablet {
            text-align: center;
        }
        @include maxMobile {
            padding: 30px 0 70px 0;
        }
        .title{
            @include text($whiteColor, 66px , Roboto, 0 , 80px , bold);
            @include maxTablet {
                font-size: 38px;
                line-height: 48px;
            }
        }
        .sub-title{
            @include text($whiteColor, 18px , Roboto, 0 , 30px );
            width: 43%;
            padding-top: 16px;
            @include maxTablet {
                width: 91%;
                margin: auto;
            }
            @include maxMobile {
                width: 100%;
                margin: auto;
                font-size: 16px;
            }
        }
        .action{
            padding-top: 64px;
            a{
                @include text($whiteColor, 18px , Roboto, 0 , 24px  , 500);
                text-decoration: none;
                padding: 18px 40px;
                border-radius: 4px;
                background-color: $primaryColor;
                text-align: center;
                text-transform: uppercase;
                @include maxMobile {
                    padding: 18px 76px;
                }
            }
        }
    }
}

// Products 
.products {
    background-color: $grayFourColor;
    padding: 74px 0 77px;
    @include maxTablet {
        padding: 40px 0 69px;
    }
    @include maxMobile {
        padding: 29px 0 43px;
    }
    .title{
        @include text($SecColor, 50px , Roboto, 0 , 60px , bold);
        text-align: center;
        margin-bottom: 46px;
        @include maxTablet {
            font-size: 30px;
            margin-bottom: 37px;
        }
        @include maxMobile {
            font-size: 30px;
            margin-bottom: 16px;
        }

    }
    .card {
        box-sizing: border-box;
        border: 1px solid $grayFiveColor;
        border-radius: 2px;
        height: 183px;
        width: 165px;
        text-align: center;
        margin: auto;
        @include maxTablet {
            height: 140px;
            width: 210px;
        }
        @include maxMobile {
            flex-direction: inherit;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            width: auto;
            padding: 0 16px;
        }
        &:hover{
            background-color: $grayFiveColor;
            transition: all .3s ease-in-out;
            cursor: pointer;
            p{
            color: $whiteColor;
           }
        }
        .img{
            padding-top: 50px;
            margin-left: auto;
            margin-right: auto;
            @include maxTablet {
                padding-top: 36px;
            }
            @include maxMobile {
                margin: 0;
                padding-top: 0;
            }
        }
        p{
            @include text($SecColor, 16px , Roboto, 0 , 24px );
            text-align: center;
            padding-top: 20px;    
            @include maxMobile {
                padding-left:18px;
            }      
        }
    }
}

// FQA
.fqa{
    padding-left: 156px;
    padding-right: 156px;
    @include maxTablet {
        padding-left: 39px;
        padding-right: 39px;
    }
    @include maxMobile {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-one{
        margin-top: 79px;
        margin-bottom: 91px;
        @include maxMobile{
            margin-top: 50px;
            margin-bottom: 71px;
        }
        .title{
            @include text($SecColor, 38px , Roboto, 0 , 48px , bold);
            margin: 0;
            @include maxTablet {
                font-size: 30px;
            }
            @include maxMobile {
                font-size: 28px;
            }
        }
        .body{
            @include text($blackColor, 20px , Roboto, 0 , 35px );
            padding-top: 20px;
            @include maxTablet {
                font-size: 20px;
            }
            @include maxMobile {
                font-size: 19px;
            }
        }
    }
    .content-sec{
        margin-bottom: 35px;
        .title{
            @include text($SecColor, 30px , Roboto, 0 , 35px , bold);
            margin: 0;
            @include maxTablet {
                font-size: 22px;
                line-height: 25px;
            }
            @include maxMobile {
                line-height: 35px;
            }
        }
        .body{
            @include text($SecColor, 18px , Roboto, 0 , 30px );
            padding-top: 20px;
            line-height: 30px;
            @include maxTablet {
                font-size: 18px;
            }
        }
    }
    .other-titles{
        margin-bottom: 260px;
        @include maxTablet {
            margin-bottom: 150px;
        }
        .title{
            
            margin-bottom: 14px;
            display: flex;
            justify-content: flex-start ;
            align-items: center;
            @include maxTablet {
                align-items: unset;
                
            }
            img{
                height: 24px;
                width: 24px;
            }
            span{
                @include text($SecColor, 20px , Roboto, 0 , 31px , bold);
                padding-left: 12px;
                @include maxTablet {
                    font-size: 18px;
                }
                @include maxMobile {
                    font-size: 17px;
                    margin-top: -5px;
                }
            }
        }
    }
}